.chat-side
  .left-header
    .header-box
      %p.header-box__user
        = current_user.name
      %ul.header-box__menu
        %li.header-box__menu
          =link_to new_group_path do
            =fa_icon "edit", class: "header-box__menu"
        %li.header-box__menu
          =link_to edit_user_path(current_user) do
            =fa_icon "cog", class: "header-box-menu"

  .groups
    .group-name
      - current_user.groups.each do |group| 
        = link_to group_messages_path(group) do
          %p.group__name
            = group.title
          %p.group__message
            = group.show_last_message
      